@import "../../../global.scss";
#custom-web {
  #banner {
    opacity: 1;
  }
  #custom-web-card {
    .main-box {
      .box-img {
        background: linear-gradient(90deg, #000525 -2.67%, #24b3d6 100%);
        position: relative;

        .content {
          display: none;
          position: absolute;
          text-align: center;
          top: 45%;
          right: 28%;
          h3 {
            font-family: $font-secondry;
            font-weight: 700;
            font-size: 35px;
            line-height: 100%;
            text-align: center;
            letter-spacing: 0.02em;
            color: #ffffff;
          }
          .custom-btn {
            width: 150px;
            outline: none;
            border: none;
            height: 30px;
            /* border-radius: 4px; */
            background: #24b3d6;
            font-family: "Raleway";
            /* font-style: normal; */
            /* font-weight: 700; */
            font-size: 18px;
            line-height: 100%;
            text-align: center;
            letter-spacing: 0.02em;
            color: #ffffff;
            transition: all 0.5s;
            z-index: 3;
            opacity: 1;
          }
        }
        &:hover {
          .content {
            display: block;
          }
        }
        img {
          width: 100%;
          z-index: 1;
          &:hover {
            opacity: 0.2;
            cursor: pointer;
            transition: all 0.5s;
          }
        }
      }
    }
  }
}
