#home .banner-container {
  width: 90%;
  margin: 0 auto;
}

#home #banner {
  background: -webkit-gradient(linear, left top, right top, color-stop(-2.67%, #000525), to(#24b3d6));
  background: linear-gradient(90deg, #000525 -2.67%, #24b3d6 100%);
  padding: 0px 0px 80px;
}

#home #banner .main-banner-content {
  height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#home #banner .main-banner-content .content h2 {
  font-weight: 700;
  font-size: 40px;
  letter-spacing: 0.02em;
  color: #ffffff;
}

#home #banner .main-banner-content .content h1 {
  font-family: "Bebas";
  font-style: normal;
  font-weight: 400;
  font-size: 80px;
  line-height: 100%;
  letter-spacing: 0.02em;
  color: #24b3d6;
}

#home #banner .main-banner-image .image {
  position: relative;
}

#home #banner .main-banner-image .image .banner-img {
  z-index: 3333;
  position: relative;
}

#home #banner .main-banner-image .image .banner-background-img {
  position: absolute;
  top: -80px;
  left: 80px;
  z-index: 1;
}

#home #banner .banner-btn .btn {
  width: 183px;
  height: 46px;
  background: #24b3d6;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 100%;
  /* identical to box height, or 24px */
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
}

#home #home-about .line,
#home #home-services .line {
  position: relative;
  height: 100px;
}

#home #home-about .line .straight-line,
#home #home-services .line .straight-line {
  position: absolute;
  width: 164px;
  height: 0px;
  left: 570px;
  top: 0;
  border: 1px solid #000525;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

#home #home-about .line .ellipse,
#home #home-services .line .ellipse {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  width: 13px;
  height: 13px;
  left: 646px;
  top: 80px;
  border-radius: 50%;
  border: 1px solid #000525;
}

#home #home-about .main-about .heading h6,
#home #home-services .main-about .heading h6 {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 100%;
  /* identical to box height, or 24px */
  text-align: center;
  letter-spacing: 0.02em;
  color: #706e6e;
}

#home #home-about .main-about .heading h1,
#home #home-services .main-about .heading h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 100%;
  text-align: center;
  letter-spacing: 0.02em;
  color: #000525;
  padding: 20px 0px 20px;
}

#home #home-about .main-about .para p,
#home #home-services .main-about .para p {
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 130%;
  /* or 26px */
  text-align: center;
  letter-spacing: 0.02em;
  color: #4a4a4a;
}

#home #home-about .main-about .about-btn,
#home #home-services .main-about .about-btn {
  margin: 40px 0px 0px;
}

#home #home-about .main-about .about-btn .home-about-btn,
#home #home-services .main-about .about-btn .home-about-btn {
  background: #0c5791;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  width: 183px;
  height: 46px;
  line-height: 0.5;
  /* identical to box height, or 24px */
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
}

#home #home-portfolio,
#home #home-technologies {
  background: #000525;
}

#home #home-portfolio .main-portfolio .tabbing-link .heading h1,
#home #home-technologies .main-portfolio .tabbing-link .heading h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 130%;
  /* or 52px */
  letter-spacing: 0.02em;
  color: #ffffff;
}

#home #home-portfolio .main-portfolio .tabbing-link .heading .underline,
#home #home-technologies .main-portfolio .tabbing-link .heading .underline {
  border-bottom: 4px solid #24b3d6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 35%;
  margin: 12px 0px 35px;
}

#home #home-portfolio .main-portfolio .tabbing-link .links ul,
#home #home-technologies .main-portfolio .tabbing-link .links ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

#home #home-portfolio .main-portfolio .tabbing-link .links ul li,
#home #home-technologies .main-portfolio .tabbing-link .links ul li {
  color: white;
  padding: 4px 15px;
  margin: 5px 0px;
  text-align: left;
  width: 75%;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

#home #home-portfolio .main-portfolio .tabbing-link .links ul li:hover,
#home #home-technologies .main-portfolio .tabbing-link .links ul li:hover {
  background-color: #24b3d6;
  cursor: pointer;
}

#home #home-portfolio .main-portfolio .tabbing-link .links ul li:hover a,
#home #home-technologies .main-portfolio .tabbing-link .links ul li:hover a {
  font-weight: 500;
}

#home #home-portfolio .main-portfolio .tabbing-link .links ul li a,
#home #home-technologies .main-portfolio .tabbing-link .links ul li a {
  text-decoration: none;
  color: white;
}

#home #home-portfolio .main-portfolio .tabbing-img,
#home #home-technologies .main-portfolio .tabbing-img {
  background: #cfcfcf;
}

#home #home-portfolio .main-portfolio .more-work-btn,
#home #home-technologies .main-portfolio .more-work-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 100px 0px 0px;
}

#home #home-portfolio .main-portfolio .more-work-btn .btn,
#home #home-technologies .main-portfolio .more-work-btn .btn {
  background-color: #0c5791;
}

#home #home-portfolio .main-portfolio .more-work-btn .btn a,
#home #home-technologies .main-portfolio .more-work-btn .btn a {
  font-weight: 700;
  font-size: 24px;
  line-height: 100%;
  /* identical to box height, or 24px */
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
  text-decoration: none;
}

#home #home-services .main-services .underline {
  border-bottom: 4px solid #24b3d6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 25%;
  text-align: center;
  margin: 0px auto 35px;
}

#home #home-services .main-services .main-services-card .card {
  -webkit-transition: all 0.9s;
  transition: all 0.9s;
  padding: 50px;
  border: 0;
}

#home #home-services .main-services .main-services-card .card .service-card-image .white {
  display: none;
}

#home #home-services .main-services .main-services-card .card .service-card-heading h2 {
  font-size: 30px;
  line-height: 120%;
  text-align: center;
  letter-spacing: 0.02em;
  color: #000525;
}

#home #home-services .main-services .main-services-card .card .service-card-para {
  font-weight: 500;
  font-size: 20px;
  line-height: 130%;
  text-align: center;
  letter-spacing: 0.02em;
}

#home #home-services .main-services .main-services-card .card:hover {
  background: linear-gradient(62.79deg, #000525 1.08%, #24b3d6 100%);
  -webkit-box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.45);
          box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.45);
  cursor: pointer;
}

#home #home-services .main-services .main-services-card .card:hover h2 {
  color: #ffffff;
}

#home #home-services .main-services .main-services-card .card:hover p {
  color: #ffffff;
}

#home #home-services .main-services .main-services-card .card:hover .service-card-image .black {
  display: none;
}

#home #home-services .main-services .main-services-card .card:hover .service-card-image .white {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

#home #home-technologies {
  background: -webkit-gradient(linear, left top, right top, color-stop(16.81%, #000525), color-stop(119.48%, #24b3d6));
  background: linear-gradient(90deg, #000525 16.81%, #24b3d6 119.48%);
}

#home #home-technologies .tech-icons-main {
  width: 600px;
  margin: 0 auto;
}

#home #home-technologies .tech-icons-main .main-technical-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#home #home-technologies .tech-icons-main .main-technical-icons .tech-icons {
  text-align: center;
}

#home #home-technologies .tech-icons-main .main-technical-icons .tech-icons h4 {
  font-weight: 500;
  font-size: 18px;
  line-height: 200%;
  font-family: "Raleway-Black";
  /* or 36px */
  letter-spacing: 0.02em;
  color: #ffffff;
}
/*# sourceMappingURL=home.css.map */