.custom-btn {
  width: 183px;
  outline: none;
  border: none;
  height: 55px;
  border-radius: 4px;
  background: #24b3d6;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 100%;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.custom-btn:hover {
  background-color: #0c5791;
}

.btn-outline-primary {
  border-color: #24b3d6 !important;
  color: #24b3d6 !important;
}

.btn-outline-primary:hover {
  color: #fff !important;
  background-color: #24b3d6 !important;
  border-color: #24b3d6 !important;
}

#home #banner {
  opacity: 1;
}

#home .banner-container {
  width: 90%;
  margin: 0 auto;
}

#home .banner-container .slick-prev,
#home .banner-container .slick-next {
  display: none !important;
}

#home .banner-container .slick-dots {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  top: 45%;
}

#home .banner-container .slick-dots li {
  margin: 5px 5px;
}

#home .banner-container .slick-dots li button::before {
  font-size: 25px !important;
}

#home #banner {
  background: -webkit-gradient(linear, left top, right top, color-stop(-2.67%, #000525), to(#24b3d6));
  background: linear-gradient(90deg, #000525 -2.67%, #24b3d6 100%);
  padding: 0px 0px 80px;
}

#home #banner .main-banner-content {
  height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#home #banner .main-banner-content .content h2 {
  font-weight: 700;
  font-size: 40px;
  letter-spacing: 0.02em;
  color: #ffffff;
}

#home #banner .main-banner-content .content h1 {
  font-family: "Bebas";
  font-style: normal;
  font-weight: 400;
  font-size: 80px;
  line-height: 100%;
  letter-spacing: 0.02em;
  color: #24b3d6;
}

#home #banner .main-banner-image .image {
  position: relative;
}

#home #banner .main-banner-image .image img {
  width: 70%;
}

#home .banner-btn .custom-btn {
  width: 183px;
  height: 46px;
  background: #24b3d6;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 100%;
  /* identical to box height, or 24px */
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
}

#home .banner-btn .custom-btn:hover {
  background-color: #000525;
  border-color: #24b3d6;
}

#home .banner-btn .custom-btn:active {
  border-color: #24b3d6;
}

#home-about .line,
#home-services .line {
  position: relative;
  height: 100px;
}

#home-about .line img,
#home-services .line img {
  position: absolute;
  left: 50%;
  top: -82px;
}

#home-about .main-about .heading h6,
#home-services .main-about .heading h6 {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 100%;
  /* identical to box height, or 24px */
  text-align: center;
  letter-spacing: 0.02em;
  color: #706e6e;
}

#home-about .main-about .heading h1,
#home-services .main-about .heading h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 100%;
  text-align: center;
  letter-spacing: 0.02em;
  color: #000525;
  padding: 20px 0px 20px;
}

#home-about .main-about .para p,
#home-services .main-about .para p {
  font-size: 20px;
  text-align: center;
  font-family: "Raleway-Regular";
  color: #4a4a4a;
}

#home-about .main-about .about-btn,
#home-services .main-about .about-btn {
  margin: 40px 0px 0px;
}

#home-about .main-about .about-btn .home-about-btn,
#home-services .main-about .about-btn .home-about-btn {
  background: #0c5791;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  width: 183px;
  height: 46px;
  line-height: 0.5;
  /* identical to box height, or 24px */
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
}

#home-about .main-about .about-btn .home-about-btn:hover,
#home-services .main-about .about-btn .home-about-btn:hover {
  background-color: #000525;
}

#home-portfolio,
#home-technologies {
  background: #000525;
}

#home-portfolio .main-portfolio .tabbing-link .heading h1,
#home-technologies .main-portfolio .tabbing-link .heading h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 130%;
  /* or 52px */
  letter-spacing: 0.02em;
  color: #ffffff;
}

#home-portfolio .main-portfolio .tabbing-link .heading .underline,
#home-technologies .main-portfolio .tabbing-link .heading .underline {
  border-bottom: 4px solid #24b3d6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 35%;
  margin: 12px 0px 35px;
}

#home-portfolio .main-portfolio .tabbing-link .links ul,
#home-technologies .main-portfolio .tabbing-link .links ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

#home-portfolio .main-portfolio .tabbing-link .links ul li,
#home-technologies .main-portfolio .tabbing-link .links ul li {
  color: white;
  padding: 4px 15px;
  margin: 5px 0px;
  text-align: left;
  width: 75%;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

#home-portfolio .main-portfolio .tabbing-link .links ul li:hover,
#home-technologies .main-portfolio .tabbing-link .links ul li:hover {
  background-color: #24b3d6;
  cursor: pointer;
}

#home-portfolio .main-portfolio .tabbing-link .links ul li:hover a,
#home-technologies .main-portfolio .tabbing-link .links ul li:hover a {
  font-weight: 500;
}

#home-portfolio .main-portfolio .tabbing-link .links ul li a,
#home-technologies .main-portfolio .tabbing-link .links ul li a {
  text-decoration: none;
  color: white;
}

@media (max-width: 1200px) {
  #home-portfolio .main-portfolio .tabbing-link .links ul li a,
  #home-technologies .main-portfolio .tabbing-link .links ul li a {
    font-size: 14px;
  }
}

#home-portfolio .main-portfolio .tabbing-img,
#home-technologies .main-portfolio .tabbing-img {
  background: #cfcfcf;
}

#home-portfolio .main-portfolio .tabbing-img .height-img,
#home-technologies .main-portfolio .tabbing-img .height-img {
  height: 498px;
}

#home-portfolio .main-portfolio .tabbing-img .tabbing-card,
#home-technologies .main-portfolio .tabbing-img .tabbing-card {
  background: -webkit-gradient(linear, left top, right top, color-stop(-2.67%, #000525), to(#24b3d6));
  background: linear-gradient(90deg, #000525 -2.67%, #24b3d6 100%);
  position: relative;
}

#home-portfolio .main-portfolio .tabbing-img .tabbing-card .content,
#home-technologies .main-portfolio .tabbing-img .tabbing-card .content {
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

#home-portfolio .main-portfolio .tabbing-img .tabbing-card .content h3,
#home-technologies .main-portfolio .tabbing-img .tabbing-card .content h3 {
  font-family: "Raleway-Regular";
  font-weight: 700;
  font-size: 35px;
  line-height: 100%;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
}

#home-portfolio .main-portfolio .tabbing-img .tabbing-card .content .custom-btn,
#home-technologies .main-portfolio .tabbing-img .tabbing-card .content .custom-btn {
  width: 150px;
  outline: none;
  border: none;
  height: 30px;
  background: #24b3d6;
  font-family: "Raleway";
  font-size: 18px;
  line-height: 100%;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  z-index: 3;
  opacity: 1;
}

#home-portfolio .main-portfolio .tabbing-img .tabbing-card .small-content h3,
#home-technologies .main-portfolio .tabbing-img .tabbing-card .small-content h3 {
  font-size: 20px !important;
}

#home-portfolio .main-portfolio .tabbing-img .tabbing-card .small-content button,
#home-technologies .main-portfolio .tabbing-img .tabbing-card .small-content button {
  font-size: 11px !important;
  width: 100px !important;
}

#home-portfolio .main-portfolio .tabbing-img .tabbing-card img,
#home-technologies .main-portfolio .tabbing-img .tabbing-card img {
  width: 100%;
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

#home-portfolio .main-portfolio .tabbing-img .tabbing-card:hover,
#home-technologies .main-portfolio .tabbing-img .tabbing-card:hover {
  cursor: pointer;
}

#home-portfolio .main-portfolio .tabbing-img .tabbing-card:hover .content,
#home-technologies .main-portfolio .tabbing-img .tabbing-card:hover .content {
  opacity: 1;
}

#home-portfolio .main-portfolio .tabbing-img .tabbing-card:hover img,
#home-technologies .main-portfolio .tabbing-img .tabbing-card:hover img {
  opacity: 0.3;
}

#home-portfolio .main-portfolio .more-work-btn,
#home-technologies .main-portfolio .more-work-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 100px 0px 0px;
}

#home-portfolio .main-portfolio .more-work-btn .btn,
#home-technologies .main-portfolio .more-work-btn .btn {
  background-color: #0c5791;
}

#home-portfolio .main-portfolio .more-work-btn .btn:hover,
#home-technologies .main-portfolio .more-work-btn .btn:hover {
  border-color: transparent;
  background-color: #24b3d6;
}

#home-portfolio .main-portfolio .more-work-btn .btn a,
#home-technologies .main-portfolio .more-work-btn .btn a {
  font-weight: 700;
  font-size: 24px;
  line-height: 100%;
  /* identical to box height, or 24px */
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
  text-decoration: none;
}

#home-services .main-services .slick-prev:before,
#home-services .main-services .slick-next:before {
  display: none;
}

#home-services .main-services .underline {
  border-bottom: 4px solid #24b3d6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 25%;
  text-align: center;
  margin: 0px auto 35px;
}

#home-services .main-services .main-services-card a {
  text-decoration: none;
  color: inherit;
}

#home-services .main-services .main-services-card .card {
  padding: 50px;
  border: 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  text-decoration: none;
}

#home-services .main-services .main-services-card .card .service-card-image .black {
  display: inline-block;
}

#home-services .main-services .main-services-card .card .service-card-image .white {
  display: none;
}

#home-services .main-services .main-services-card .card .service-card-heading h2 {
  font-size: 30px;
  line-height: 120%;
  text-align: center;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #000525;
}

#home-services .main-services .main-services-card .card .service-card-para p {
  font-size: 20px;
  font-family: "Raleway-Regular";
  text-align: center;
  text-decoration: none;
}

#home-services .main-services .main-services-card .card:hover {
  background: linear-gradient(62.79deg, #000525 1.08%, #24b3d6 100%);
  -webkit-box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.45);
          box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.45);
  cursor: pointer;
}

#home-services .main-services .main-services-card .card:hover h2 {
  color: #ffffff;
}

#home-services .main-services .main-services-card .card:hover p {
  color: #ffffff;
}

#home-services .main-services .main-services-card .card:hover .service-card-image .black {
  display: none;
}

#home-services .main-services .main-services-card .card:hover .service-card-image .white {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

#home-technologies {
  background: -webkit-gradient(linear, left top, right top, color-stop(16.81%, #000525), color-stop(119.48%, #24b3d6));
  background: linear-gradient(90deg, #000525 16.81%, #24b3d6 119.48%);
}

#home-technologies .tech-icons-main {
  width: 600px;
  margin: 0 auto;
}

#home-technologies .tech-icons-main .main-technical-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#home-technologies .tech-icons-main .main-technical-icons .tech-icons {
  text-align: center;
}

#home-technologies .tech-icons-main .main-technical-icons .tech-icons h4 {
  font-weight: 500;
  font-size: 18px;
  line-height: 200%;
  font-family: "Raleway-Regular";
  /* or 36px */
  letter-spacing: 0.02em;
  color: #ffffff;
}
/*# sourceMappingURL=home.css.map */