@import "../../global.scss";

#home {
  .banner-container {
    width: 90%;
    margin: 0 auto;
  }
  #banner {
    background: $banner-background-color;
    padding: 0px 0px 80px;

    .main-banner-content {
      height: 500px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      .content {
        h2 {
          font-weight: 700;
          font-size: 40px;
          letter-spacing: 0.02em;
          color: #ffffff;
        }
        h1 {
          font-family: "Bebas";
          font-style: normal;
          font-weight: 400;
          font-size: 80px;
          line-height: 100%;
          letter-spacing: 0.02em;
          color: #24b3d6;
        }
      }
    }

    .main-banner-image {
      .image {
        position: relative;
        img {
          width: 70%;
        }
        // .banner-img {
        //   z-index: 3333;
        //   position: relative;
        // }
        // .banner-background-img {
        //   position: absolute;
        //   top: -80px;
        //   left: 80px;
        //   z-index: 1;

        //   @media (min-width: 1800px) {
        //     left: 120px;
        //   }
        //   @media (min-width: 2000px) {
        //     left: 175px;
        //   }
        // }
      }
    }
  }
  .banner-btn {
    .custom-btn {
      width: 183px;
      height: 46px;
      background: #24b3d6;
      font-family: "Raleway";
      font-style: normal;
      font-weight: 700;
      font-size: 24px;
      line-height: 100%;
      /* identical to box height, or 24px */

      text-align: center;
      letter-spacing: 0.02em;

      color: #ffffff;
    }
  }
}

#home-about,
#home-services {
  .line {
    position: relative;
    height: 100px;

    // .straight-line {
    //   position: absolute;
    //   width: 164px;
    //   height: 0px;
    //   left: 570px;
    //   top: 0;
    //   border: 1px solid #000525;
    //   transform: rotate(90deg);
    // }
    // .ellipse {
    //   box-sizing: border-box;
    //   position: absolute;
    //   width: 13px;
    //   height: 13px;
    //   left: 646px;
    //   top: 80px;
    //   border-radius: 50%;
    //   border: 1px solid #000525;
    // }
    img {
      position: absolute;
      left: 50%;
      top: -82px;
    }
  }
  .main-about {
    // padding-top: 100px;

    .heading {
      h6 {
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 100%;
        /* identical to box height, or 24px */

        text-align: center;
        letter-spacing: 0.02em;

        color: #706e6e;
      }
      h1 {
        font-style: normal;
        font-weight: 700;
        font-size: 40px;
        line-height: 100%;
        text-align: center;
        letter-spacing: 0.02em;
        color: #000525;
        padding: 20px 0px 20px;
      }
    }
    .para {
      p {
        font-style: normal;
        font-weight: 500;
        font-size: 22px;
        line-height: 130%;
        /* or 26px */

        text-align: center;
        letter-spacing: 0.02em;

        color: #4a4a4a;
      }
    }
    .about-btn {
      margin: 40px 0px 0px;
      .home-about-btn {
        background: #0c5791;
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        width: 183px;
        height: 46px;
        line-height: 0.5;
        /* identical to box height, or 24px */
        text-align: center;
        letter-spacing: 0.02em;

        color: #ffffff;
      }
    }
  }
}

#home-portfolio,
#home-technologies {
  background: #000525;
  .main-portfolio {
    .tabbing-link {
      .heading {
        h1 {
          font-style: normal;
          font-weight: 700;
          font-size: 40px;
          line-height: 130%;
          /* or 52px */

          letter-spacing: 0.02em;

          color: #ffffff;
        }
        .underline {
          border-bottom: 4px solid #24b3d6;
          display: flex;
          width: 35%;
          margin: 12px 0px 35px;
        }
      }
      .links {
        ul {
          padding: 0;
          margin: 0;
          list-style: none;

          li {
            color: white;
            padding: 4px 15px;
            margin: 5px 0px;
            text-align: left;
            width: 75%;
            transition: all 0.5s;
            &:hover {
              background-color: $primary-color;
              cursor: pointer;
              a {
                font-weight: 500;
              }
            }
            a {
              text-decoration: none;
              color: white;
            }
          }
        }
      }
    }

    .tabbing-img {
      background: #cfcfcf;
    }
    .more-work-btn {
      display: flex;
      justify-content: center;
      margin: 100px 0px 0px;
      .btn {
        background-color: $btn-background;

        a {
          font-weight: 700;
          font-size: 24px;
          line-height: 100%;
          /* identical to box height, or 24px */
          text-align: center;
          letter-spacing: 0.02em;
          color: #ffffff;
          text-decoration: none;
        }
      }
    }
  }
}

#home-services {
  .main-services {
    .underline {
      border-bottom: 4px solid #24b3d6;
      display: flex;
      width: 25%;
      text-align: center;
      margin: 0px auto 35px;
    }
    .main-services-card {
      .card {
        transition: all 0.9s;
        padding: 50px;
        border: 0;

        .service-card-image {
          .white {
            display: none;
          }
        }
        .service-card-heading {
          h2 {
            font-size: 30px;
            line-height: 120%;
            text-align: center;
            letter-spacing: 0.02em;

            color: $secondry-color;
          }
        }
        .service-card-para {
          font-weight: 500;
          font-size: 20px;
          line-height: 130%;
          text-align: center;
          letter-spacing: 0.02em;
        }

        &:hover {
          background: linear-gradient(62.79deg, #000525 1.08%, #24b3d6 100%);
          box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.45);
          cursor: pointer;

          h2 {
            color: #ffffff;
          }
          p {
            color: #ffffff;
          }
          .service-card-image {
            .black {
              display: none;
            }
            .white {
              display: inline-flex;
            }
          }
        }
      }
    }
  }
}
#home-technologies {
  background: linear-gradient(90deg, #000525 16.81%, #24b3d6 119.48%);
  // opacity: 0.8;
  .tech-icons-main {
    width: 600px;
    margin: 0 auto;

    .main-technical-icons {
      display: flex;
      justify-content: space-between;

      .tech-icons {
        text-align: center;
        h4 {
          font-weight: 500;
          font-size: 18px;
          line-height: 200%;
          font-family: $font-secondry;
          /* or 36px */

          letter-spacing: 0.02em;

          color: #ffffff;
        }
      }
    }
  }
}
