#home .banner-container {
  width: 90%;
  margin: 0 auto;
}

#home #banner {
  background: -webkit-gradient(linear, left top, right top, color-stop(-2.67%, #000525), to(#24b3d6));
  background: linear-gradient(90deg, #000525 -2.67%, #24b3d6 100%);
  padding: 80px 0px;
}

#home #banner .main-banner-content {
  height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#home #banner .main-banner-content .content h2 {
  font-weight: 700;
  font-size: 40px;
  letter-spacing: 0.02em;
  color: #ffffff;
}

#home #banner .main-banner-content .content h1 {
  font-family: "Bebas";
  font-style: normal;
  font-weight: 400;
  font-size: 80px;
  line-height: 100%;
  letter-spacing: 0.02em;
  color: #24b3d6;
}

#home #banner .main-banner-content .banner-btn .btn {
  width: 183px;
  height: 46px;
  background: #24b3d6;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 100%;
  /* identical to box height, or 24px */
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
}

#home #banner .main-banner-image .image {
  position: relative;
}

#home #banner .main-banner-image .image .banner-img {
  z-index: 3333;
  position: relative;
}

#home #banner .main-banner-image .image .banner-background-img {
  position: absolute;
  top: -80px;
  left: 80px;
  z-index: 1;
}

#home #home-about .line {
  position: relative;
  height: 100px;
}

#home #home-about .line .straight-line {
  position: absolute;
  width: 164px;
  height: 0px;
  left: 570px;
  top: 0;
  border: 1px solid #000525;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

#home #home-about .line .ellipse {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  width: 13px;
  height: 13px;
  left: 646px;
  top: 80px;
  border-radius: 50%;
  border: 1px solid #000525;
}

#home #home-about .main-about .heading h6 {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 100%;
  /* identical to box height, or 24px */
  text-align: center;
  letter-spacing: 0.02em;
  color: #706e6e;
}

#home #home-about .main-about .heading h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 100%;
  text-align: center;
  letter-spacing: 0.02em;
  color: #000525;
  padding: 20px 0px 20px;
}

#home #home-about .main-about .para p {
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 130%;
  /* or 26px */
  text-align: center;
  letter-spacing: 0.02em;
  color: #4a4a4a;
}

#home #home-about .main-about .about-btn {
  margin: 40px 0px 0px;
}

#home #home-about .main-about .about-btn .home-about-btn {
  background: #0c5791;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  width: 183px;
  height: 46px;
  line-height: 0.5;
  /* identical to box height, or 24px */
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
}

#home #home-portfolio {
  background: #000525;
}

#home #home-portfolio .main-portfolio .tabbing-link .heading h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 130%;
  /* or 52px */
  letter-spacing: 0.02em;
  color: #ffffff;
}

#home #home-portfolio .main-portfolio .tabbing-link .heading .underline {
  border: 4px solid #24b3d6;
}

#home #home-portfolio .main-portfolio .tabbing-img {
  background: #cfcfcf;
}
/*# sourceMappingURL=home.css.map */