@import "../../global.scss";

#home {
  #banner {
    opacity: 1;
  }
  .banner-container {
    width: 90%;
    margin: 0 auto;
    .main {
      .banner-column {
        display: flex;
        height: 100%;
        align-items: center;
      }
    }
    .slick-prev,
    .slick-next {
      display: none !important;
    }
    .slick-dots {
      display: flex !important;
      flex-direction: column;
      align-items: end;
      top: 45%;

      @include tablet {
        top: 0%;
        flex-direction: row;
        justify-content: center;
      }
      li {
        margin: 5px 5px;
        button {
          &::before {
            font-size: 25px !important;
          }
        }
      }
    }
  }
  #banner {
    background: $banner-background-color;
    padding: 0px 0px 80px;
    // .main-2 {
    //   @include tablet {
    //     margin-top: -125px;
    //   }
    @include tablet {
      .main-1 {
        margin-bottom: 60px;
      }

      .banner-btn {
        display: flex;
        justify-content: center;
      }
    }
  }
  .main-banner-content {
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    @include tablet {
      height: auto;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      margin-top: 60px;
      align-items: center;
    }
    .content {
      h2 {
        font-weight: 700;
        font-size: 40px;
        letter-spacing: 0.02em;
        color: #ffffff;

        @include laptop {
          font-size: 35px;
        }
        @include ipad-pro {
          font-size: 28px;
        }
      }
      h1 {
        font-family: "Bebas";
        font-style: normal;
        font-weight: 400;
        font-size: 80px;
        line-height: 100%;
        letter-spacing: 0.02em;
        color: #24b3d6;
        @include laptop {
          font-size: 60px;
        }
      }
    }
  }
  .main-banner-content-2 {
    // @include tablet {
    //   height: 370px;
    //   display: flex;
    //   flex-direction: column;
    //   justify-content: end;
    // }
  }
  .main-banner-image {
    .image {
      position: relative;
      img {
        width: 70%;
      }
      // .banner-img {
      //   z-index: 3333;
      //   position: relative;
      // }
      // .banner-background-img {
      //   position: absolute;
      //   top: -80px;
      //   left: 80px;
      //   z-index: 1;

      //   @media (min-width: 1800px) {
      //     left: 120px;
      //   }
      //   @media (min-width: 2000px) {
      //     left: 175px;
      //   }
      // }
    }
  }
}
.banner-btn {
  .custom-btn {
    width: 183px;
    height: 46px;
    background: #24b3d6;
    font-family: "Raleway";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 100%;
    /* identical to box height, or 24px */

    text-align: center;
    letter-spacing: 0.02em;

    color: #ffffff;
    &:hover {
      background-color: $secondry-color;
      border-color: $primary-color;
    }
    &:active {
      border-color: $primary-color;
    }
  }
}

#home-about,
#home-services {
  .line {
    position: relative;
    height: 100px;

    // .straight-line {
    //   position: absolute;
    //   width: 164px;
    //   height: 0px;
    //   left: 570px;
    //   top: 0;
    //   border: 1px solid #000525;
    //   transform: rotate(90deg);
    // }
    // .ellipse {
    //   box-sizing: border-box;
    //   position: absolute;
    //   width: 13px;
    //   height: 13px;
    //   left: 646px;
    //   top: 80px;
    //   border-radius: 50%;
    //   border: 1px solid #000525;
    // }
    img {
      position: absolute;
      left: 50%;
      top: -82px;
    }
  }
  .main-about {
    // padding-top: 100px;

    .heading {
      h6 {
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 100%;
        /* identical to box height, or 24px */

        text-align: center;
        letter-spacing: 0.02em;

        color: #706e6e;
      }
      h1 {
        font-style: normal;
        font-weight: 700;
        font-size: 40px;
        line-height: 100%;
        text-align: center;
        letter-spacing: 0.02em;
        color: #000525;
        padding: 20px 0px 20px;
      }
    }
    .para {
      p {
        font-size: 20px;
        text-align: center;
        font-family: $font-secondry;

        color: #4a4a4a;
        @include laptop {
          font-size: 17px;
        }
      }
    }
    .about-btn {
      margin: 40px 0px 0px;
      .home-about-btn {
        background: #0c5791;
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        width: 183px;
        height: 46px;
        line-height: 0.5;
        /* identical to box height, or 24px */
        text-align: center;
        letter-spacing: 0.02em;

        color: #ffffff;
        &:hover {
          background-color: $secondry-color;
        }
      }
    }
  }
}

#home-portfolio,
#home-technologies {
  background: #000525;
  .main-portfolio {
    .tabbing-link {
      .heading {
        h1 {
          font-style: normal;
          font-weight: 700;
          font-size: 40px;
          line-height: 130%;
          /* or 52px */

          letter-spacing: 0.02em;

          color: #ffffff;
          @include laptop {
            font-size: 28px;
          }
        }
        .underline {
          border-bottom: 4px solid #24b3d6;
          display: flex;
          width: 35%;
          margin: 12px 0px 35px;
        }
      }
      .links {
        ul {
          padding: 0;
          margin: 0;
          list-style: none;

          li {
            color: white;
            padding: 4px 15px;
            margin: 5px 0px;
            text-align: left;
            width: 75%;
            transition: all 0.5s;
            &:hover {
              background-color: $primary-color;
              cursor: pointer;
              a {
                font-weight: 500;
              }
            }
            a {
              text-decoration: none;
              color: white;
              @include laptop {
                font-size: 14px;
              }
            }
          }
        }
      }
    }

    .tabbing-img {
      .height-img {
        height: 498px;

        @include pc {
          height: 402px;
        }
        @include laptop {
          height: 286px;
        }
        @include ipad-pro-max {
          height: 213px;
        }
      }
      background: #cfcfcf;
      .tabbing-card {
        background: linear-gradient(90deg, #000525 -2.67%, #24b3d6 100%);
        position: relative;

        .content {
          // display: none;
          // position: absolute;
          // text-align: center;
          // top: 45%;

          // right: 30%;
          transition: 0.5s ease;
          opacity: 0;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
          text-align: center;

          h3 {
            font-family: $font-secondry;
            font-weight: 700;
            font-size: 35px;
            line-height: 100%;
            text-align: center;
            letter-spacing: 0.02em;
            color: #ffffff;
          }
          .custom-btn {
            width: 150px;
            outline: none;
            border: none;
            height: 30px;
            background: #24b3d6;
            font-family: "Raleway";
            font-size: 18px;
            line-height: 100%;
            text-align: center;

            color: #ffffff;
            transition: all 0.5s;
            z-index: 3;
            opacity: 1;
            box-shadow: 1px 1px 3px 1px rgb(0 0 0 / 36%);
            border-radius: 0px;
          }
        }

        .small-content {
          h3 {
            font-size: 20px !important;
          }
          button {
            font-size: 11px !important;
            width: 100px !important;
          }
        }
        img {
          width: 100%;
          opacity: 1;
          display: block;
          width: 100%;

          transition: 0.5s ease;
          backface-visibility: hidden;
          // &:hover {
          //   opacity: 0.2;
          //   cursor: pointer;
          //   transition: all 0.5s;
          // }
        }

        &:hover {
          cursor: pointer;
          .content {
            opacity: 1;
          }
          img {
            opacity: 0.3;
          }
        }
      }
    }
    .more-work-btn {
      display: flex;
      justify-content: center;
      margin: 100px 0px 0px;
      .btn {
        background-color: $btn-background;

        &:hover {
          border-color: transparent;
          background-color: #24b3d6;
        }

        a {
          font-weight: 700;
          font-size: 24px;
          line-height: 100%;
          /* identical to box height, or 24px */
          text-align: center;
          letter-spacing: 0.02em;
          color: #ffffff;
          text-decoration: none;
        }
      }
    }
  }
}

#home-services {
  .main-services {
    .slick-prev:before,
    .slick-next:before {
      display: none;
    }
    .underline {
      border-bottom: 4px solid #24b3d6;
      display: flex;
      width: 25%;
      text-align: center;
      margin: 0px auto 35px;
    }
    .main-services-card {
      a {
        text-decoration: none;
        color: inherit;
      }

      .card {
        padding: 50px;
        border: 0;
        transition: all 0.5s;
        text-decoration: none;
        .service-card-image {
          .black {
            display: inline-block;
          }
          .white {
            display: none;
          }
        }
        .service-card-heading {
          h2 {
            font-size: 30px;
            line-height: 120%;
            text-align: center;
            letter-spacing: 0.02em;
            text-decoration: none;
            color: $secondry-color;
            @include laptop {
              font-size: 24px;
              line-height: normal;
              letter-spacing: 0;
            }
          }
        }
        .service-card-para {
          p {
            font-size: 20px;
            font-family: $font-secondry;
            text-align: center;
            text-decoration: none;
            @include laptop {
              font-size: 16px;
            }
          }
        }

        &:hover {
          background: linear-gradient(62.79deg, #000525 1.08%, #24b3d6 100%);
          box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.45);
          cursor: pointer;

          h2 {
            color: #ffffff;
          }
          p {
            color: #ffffff;
          }
          .service-card-image {
            .black {
              display: none;
            }
            .white {
              display: inline-flex;
            }
          }
        }
      }
    }
  }
}
#home-technologies {
  background: linear-gradient(90deg, #000525 16.81%, #24b3d6 119.48%);
  // opacity: 0.8;
  .tech-icons-main {
    width: 600px;
    margin: 0 auto;

    .main-technical-icons {
      display: flex;
      justify-content: space-between;

      .tech-icons {
        text-align: center;
        h4 {
          font-weight: 500;
          font-size: 18px;
          line-height: 200%;
          font-family: $font-secondry;
          /* or 36px */

          letter-spacing: 0.02em;

          color: #ffffff;
        }
      }
    }
  }
}
