@import "../../global.scss";

header {
  .main {
    .banner-container {
      .nav-btn-main {
        display: flex;
        justify-content: flex-end;
      }
    }
  }

  @include mobile {
    .logo {
      img {
        width: 50px;
      }
    }
  }
}
