.custom-btn {
  width: 183px;
  outline: none;
  border: none;
  height: 55px;
  border-radius: 4px;
  background: #24b3d6;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.custom-btn:hover {
  background-color: #0c5791;
}

.btn-outline-primary {
  border-color: #24b3d6 !important;
  color: #24b3d6 !important;
}

.btn-outline-primary:hover {
  color: #fff !important;
  background-color: #24b3d6 !important;
  border-color: #24b3d6 !important;
}

#custom-web .banner {
  opacity: 1 !important;
  background: -webkit-gradient(linear, left top, right top, color-stop(16.81%, #000525), color-stop(119.48%, #24b3d6));
  background: linear-gradient(90deg, #000525 16.81%, #24b3d6 119.48%);
  opacity: 0.9;
  height: 100vh;
  position: relative;
}

#custom-web .banner .banner-container {
  width: 90%;
  margin: 0 auto;
}

#custom-web .banner .title-home h2 {
  font-weight: 400;
  font-size: 80px;
  font-family: "Bebas-Regular";
  letter-spacing: 0.02em;
  color: #ffffff;
  text-transform: uppercase;
}

@media (max-width: 1200px) {
  #custom-web .banner .title-home h2 {
    font-size: 40px;
  }
}

@media (max-width: 425px) {
  #custom-web .banner .title-home h2 {
    font-size: 24px;
  }
}

#custom-web .banner .title-home .line {
  text-align: start;
  width: 500px;
  color: #24b3d6;
  border: 0;
  border-top: 3px solid #24b3d6;
  opacity: 1;
}

@media (max-width: 768px) {
  #custom-web .banner .title-home .line {
    width: 100%;
  }
}

#custom-web .banner .banner-img img {
  max-width: 100%;
  position: absolute;
  z-index: 1;
  right: 50%;
  -webkit-transform: translate(50%, 300px);
          transform: translate(50%, 300px);
  bottom: 0;
}

@media (max-width: 1200px) {
  #custom-web .banner .banner-img img {
    -webkit-transform: translate(50%, 250px);
            transform: translate(50%, 250px);
    max-width: 70%;
  }
}

@media (max-width: 991px) {
  #custom-web .banner .banner-img img {
    -webkit-transform: translate(50%, 200px);
            transform: translate(50%, 200px);
    max-width: 70%;
  }
}

@media (max-width: 991px) {
  #custom-web .banner .banner-img img {
    -webkit-transform: translate(50%, 175px);
            transform: translate(50%, 175px);
    max-width: 60%;
  }
}

@media (max-width: 768px) {
  #custom-web .banner .banner-img img {
    -webkit-transform: translate(50%, 130px);
            transform: translate(50%, 130px);
    max-width: 80%;
  }
}

@media (max-width: 425px) {
  #custom-web .banner .banner-img img {
    -webkit-transform: translate(50%, 85px);
            transform: translate(50%, 85px);
    max-width: 80%;
  }
}

@media (max-width: 1200px) {
  #custom-web .banner {
    height: 80vh;
  }
}

@media (max-width: 991px) {
  #custom-web .banner {
    height: 60vh;
  }
}

@media (max-width: 768px) {
  #custom-web .banner {
    height: 50vh;
  }
  #custom-web .banner .logo a img {
    width: 50%;
  }
}

#custom-web .underline {
  border-bottom: 4px solid #24b3d6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 70%;
  margin: 0px 0px 35px;
}

#custom-web .case-container {
  margin-top: 180px;
  max-width: 55%;
  margin: 0 auto;
}

@media (max-width: 768px) {
  #custom-web .case-container {
    max-width: 80%;
  }
}

#custom-web .heading h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 100%;
  text-align: left;
  letter-spacing: 0.02em;
  color: #000525;
  padding: 20px 0px 20px;
}

@media (max-width: 1200px) {
  #custom-web .heading h1 {
    font-size: 35px;
  }
}

@media (max-width: 991px) {
  #custom-web .heading h1 {
    font-size: 24px;
  }
}

#custom-web #case-study-content .container {
  margin-top: 180px;
  max-width: 55%;
}

#custom-web #case-study-content .container .banner-img img {
  width: 100%;
}

#custom-web #case-study-content .container .content .heading h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  text-align: left;
  letter-spacing: 0.02em;
  color: #000525;
  padding: 20px 0px 20px;
}

@media (max-width: 1200px) {
  #custom-web #case-study-content .container .content .heading h1 {
    font-size: 35px;
  }
}

@media (max-width: 991px) {
  #custom-web #case-study-content .container .content .heading h1 {
    font-size: 24px;
  }
}

#custom-web #case-study-content .container .content .para p {
  font-style: normal;
  font-size: 20px;
  text-align: left;
  color: #4a4a4a;
}

@media (max-width: 1200px) {
  #custom-web #case-study-content .container .content .para p {
    font-size: 16px;
  }
}

@media (max-width: 1200px) {
  #custom-web #case-study-content .technicalities .img img {
    width: 60%;
  }
}

@media (max-width: 1200px) and (max-width: 991px) {
  #custom-web #case-study-content .technicalities .content p {
    font-size: 12px;
  }
}

@media (max-width: 1200px) and (max-width: 991px) {
  #custom-web #case-study-content .container {
    margin-top: 100px;
    max-width: 80%;
  }
}

@media (max-width: 1200px) and (max-width: 425px) {
  #custom-web #case-study-content .container {
    margin-top: 0px;
    max-width: 80%;
  }
}

#custom-web .tech-we-work {
  background: #000525;
}

#custom-web .tech-we-work .container {
  width: 45%;
}

#custom-web .tech-we-work .heading h1 {
  color: white;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 1;
  text-align: left;
  letter-spacing: 0.02em;
  padding: 20px 0px 20px;
}

@media (max-width: 991px) {
  #custom-web .tech-we-work .heading h1 {
    font-size: 24px;
  }
}

#custom-web .tech-we-work .heading .underline {
  width: 65%;
}

#custom-web .years-of-working {
  background: white;
}

#custom-web .years-of-working .custom-btn {
  width: 165px;
  height: 40px;
  border-radius: 0px;
  background: #0c5791;
  text-align: center;
}

#custom-web .years-of-working .custom-btn:hover {
  background: #24b3d6;
}
/*# sourceMappingURL=case-study.css.map */