@import "../../global.scss";
#custom-web {
  .banner {
    opacity: 1 !important;
    .banner-container {
      width: 90%;
      margin: 0 auto;
    }
    background: linear-gradient(90deg, #000525 16.81%, #24b3d6 119.48%);
    opacity: 0.9;
    height: 100vh;
    position: relative;
    .title-home {
      h2 {
        font-weight: 400;

        font-size: 80px;
        font-family: $font-primary;
        letter-spacing: 0.02em;
        color: #ffffff;
        text-transform: uppercase;

        @include laptop {
          font-size: 40px;
        }
        @include mobile {
          font-size: 24px;
        }
      }
      .line {
        text-align: start;
        width: 500px;

        color: #24b3d6;
        border: 0;
        border-top: 3px solid #24b3d6;
        opacity: 1;
        @include tablet {
          width: 100%;
        }
      }
    }
    .banner-img {
      img {
        max-width: 100%;
        position: absolute;
        z-index: 1;
        right: 50%;
        transform: translate(50%, 300px);
        bottom: 0;

        @include laptop {
          transform: translate(50%, 250px);
          max-width: 70%;
        }
        @include ipad-pro {
          transform: translate(50%, 200px);
          max-width: 70%;
        }
        @include ipad-pro {
          transform: translate(50%, 175px);
          max-width: 60%;
        }
        @include tablet {
          transform: translate(50%, 130px);
          max-width: 80%;
        }
        @include mobile {
          transform: translate(50%, 85px);
          max-width: 80%;
        }
      }
    }
    @include laptop {
      height: 80vh;
    }
    @include ipad-pro {
      height: 60vh;
    }
    @include tablet {
      height: 50vh;
      .logo {
        a {
          img {
            width: 50%;
          }
        }
      }
    }
  }
  .underline {
    border-bottom: 4px solid #24b3d6;
    display: flex;
    width: 70%;

    margin: 0px 0px 35px;
  }
  .case-container {
    margin-top: 180px;
    max-width: 55%;
    margin: 0 auto;
    @include tablet {
      max-width: 80%;
    }
  }
  .heading {
    h1 {
      font-style: normal;
      font-weight: 700;
      font-size: 40px;
      line-height: 100%;
      text-align: left;
      letter-spacing: 0.02em;
      color: #000525;
      padding: 20px 0px 20px;

      @include laptop {
        font-size: 35px;
      }

      @include ipad-pro {
        font-size: 24px;
      }
    }
  }
  #case-study-content {
    .container {
      margin-top: 180px;
      max-width: 55%;
      .banner-img {
        img {
          width: 100%;
        }
      }
      .content {
        .heading {
          h1 {
            font-style: normal;
            font-weight: 700;
            font-size: 40px;

            text-align: left;
            letter-spacing: 0.02em;
            color: #000525;
            padding: 20px 0px 20px;
            @include laptop {
              font-size: 35px;
            }
            @include ipad-pro {
              font-size: 24px;
            }
          }
        }
        .para {
          p {
            font-style: normal;

            font-size: 20px;

            text-align: left;

            color: #4a4a4a;
            @include laptop {
              font-size: 16px;
            }
          }
        }
      }
    }
    @include laptop {
      .technicalities {
        .img {
          img {
            width: 60%;
          }
        }
        .content {
          p {
            @include ipad-pro {
              font-size: 12px;
            }
          }
        }
      }

      .container {
        @include ipad-pro {
          margin-top: 100px;
          max-width: 80%;
        }
        @include mobile {
          margin-top: 0px;
          max-width: 80%;
        }
      }
    }
  }

  .tech-we-work {
    background: #000525;
    .container {
      width: 45%;
    }
    .heading {
      h1 {
        color: white;
        font-style: normal;
        font-weight: 700;
        font-size: 40px;
        line-height: 1;
        text-align: left;
        letter-spacing: 0.02em;
        padding: 20px 0px 20px;
        @include ipad-pro {
          font-size: 24px;
        }
      }
      .underline {
        width: 65%;
      }
    }
  }
  .years-of-working {
    background: white;
    .custom-btn {
      width: 165px;
      height: 40px;
      border-radius: 0px;
      background: $btn-background;
      text-align: center;
      &:hover {
        background: $primary-color;
      }
    }
  }
}
