@import "../../global.scss";

footer {
  background: $secondry-color;
  color: #ffffff;
  .banner-container {
    width: 90%;
    margin: 0 auto;
  }
  .footer-about {
    h2 {
      color: #24b3d6;
      font-size: 45px;
      font-weight: 600;
    }
    p {
      font-size: 18px;
      line-height: 30px;
    }
  }
  ul {
    padding: 0;
    margin: 0;
    li {
      padding: 0px 0px 30px;
    }
    list-style: none;
    a {
      text-decoration: none !important;
      font-size: 18px;
      line-height: 30px;
      /* identical to box height, or 167% */
      font-feature-settings: "salt" on, "liga" off;
      color: #ffffff;
      &:hover {
        color: $primary-color;
      }
    }
  }
  .social-icons {
    display: flex;
    .social-icons-menu {
      display: flex;
      justify-content: space-around;
      flex-basis: 60%;
      margin-top: 25px;

      li {
        a {
          background: #24b3d6;
          padding: 0px 5px 4px;
          font-size: 25px;
          border-radius: 50%;

          &:hover {
            color: $secondry-color;
          }
        }
      }
    }
  }

  .useful-links {
    h4 {
      font-weight: 700;
      font-size: 20px;
      line-height: 30px;
      /* identical to box height, or 150% */
      padding-bottom: 25px;
      font-feature-settings: "salt" on, "liga" off;

      color: #ffffff;
    }
  }
  .main-address {
    .address {
      address {
        font-size: 18px;
        line-height: 30px;
        font-feature-settings: "salt" on, "liga" off;
        color: #ffffff;
      }

      h4 {
        display: inline-block;
        font-size: 18px;
        margin-left: 20px;
      }
    }
  }
  .news-letter-main {
    p {
      font-weight: 500;
      font-size: 18px;
      line-height: 30px;
      font-feature-settings: "salt" on, "liga" off;
      color: #ffffff;
    }

    .footer-news-letter {
      border: 1px solid $primary-color;
      span:first-child {
        width: 200px;
      }
      input {
        background: transparent;
        border: none;
        padding: 6px;
        margin: 2px;
        width: 100% !important;
        color: #ffffff;
        &:focus {
          border: none;
          outline: none;
        }
        &:active {
          border: none;
          outline: none;
        }
        @include pc-pro-max {
          width: 82%;
        }
        @include pc-pro {
          width: 145px;
        }
      }

      button {
        padding: 8px 8px 8px 9px;
        border: none;
        margin: 0;
        background-color: $primary-color;
        i {
          color: #ffffff;
        }
      }

      @include pc {
        justify-content: flex-end !important;
      }
      @include laptop {
        justify-content: space-between !important;
      }
    }
  }
  @include tablet {
    text-align: center;

    .social-icons {
      justify-content: center;
    }
    .main-address {
      margin-top: 40px;
    }
  }
  @include mini-mobile {
    .footer-about {
      p {
        font-size: 16px;
        line-height: 28px;
      }
    }
    .main-address {
      .address {
        address {
          font-size: 14px;
        }
      }
    }
    .news-letter-main {
      p {
        font-size: 14px;
        font-weight: 400;
      }
    }
  }
}
