@import "../../global.scss";

.section {
  width: 100%;
  background: linear-gradient(90deg, #000525 16.81%, #24b3d6 119.48%);
  background-image: url("../../assets/images/services-img/service-banner.png");
  background-repeat: no-repeat;
  background-size: cover;

  .banner-container {
    .title-home {
      h1 {
        font-family: $font-primary;
        font-style: normal;
        font-weight: 400;
        font-size: 70px;
        line-height: 100%;
        letter-spacing: 0.02em;
        color: #24b3d6;
      }
      h3 {
        font-family: $font-secondry;
        font-style: normal;
        font-weight: 700;
        font-size: 40px;
        line-height: 120%;
        /* or 48px */

        letter-spacing: 0.02em;

        color: #ffffff;
      }
      .line {
        text-align: start;
        width: 500px;

        color: #24b3d6;
        border: 0;
        border-top: 3px solid #24b3d6;
        opacity: 1;
      }
      h6 {
        font-family: $font-secondry;
        font-style: normal;
        font-weight: 600;
        font-size: 30px;
        line-height: 120%;
        /* or 36px */

        letter-spacing: 0.02em;

        color: #ffffff;
      }
    }
    .form {
      .main-form {
        background: rgb(0 0 0 / 57%);
        opacity: 0.6;
        padding: 20px 70px;
        max-width: 70%;
        z-index: 1;
        .css-1ptx2yq-MuiInputBase-root-MuiInput-root:before {
          border-bottom: 2px solid #ffffff;
        }
        .css-1ptx2yq-MuiInputBase-root-MuiInput-root:after {
          border-bottom: 2px solid #f8f9fa;
        }
        .css-aqpgxn-MuiFormLabel-root-MuiInputLabel-root {
          color: #ffffff;
        }
        .css-aqpgxn-MuiFormLabel-root-MuiInputLabel-root {
          transform: translate(0px);
        }
        .css-ic2i806-MuiFormLabel-root-MuiInputLabel-root.Mui-focused {
          color: $primary-color;
        }
        .button {
          text-align: center;
          margin: 20px 0px 0px;
        }
        .fields {
          margin: 20px 0px;
        }

        .heading {
          h4 {
            font-weight: 700;
            font-size: 40px;
            font-family: $font-secondry;
            line-height: 120%;
            text-align: center;
            letter-spacing: 0.02em;

            color: $primary-color;
          }
        }
        .fields {
          .css-xqr4nw-MuiInputBase-root-MuiInput-root:after {
            border-bottom: 2px solid white;
          }
          .css-xqr4nw-MuiInputBase-root-MuiInput-root::before {
            border-bottom: 2px solid white;
          }
          .css-18nu0jg-MuiFormLabel-root-MuiInputLabel-root {
            color: white;
          }
          .css-1x51dt5-MuiInputBase-input-MuiInput-input {
            color: #ffffff;
          }
          .css-1r74e2h-MuiFormLabel-root-MuiInputLabel-root.Mui-focused {
            color: white;
          }
        }
        .custom-btn {
          width: 160px;

          height: 40px;
          border-radius: 0px;
          background: #0c5791;
        }
      }
    }
  }
  @include laptop {
    .banner-container {
      .title-home {
        h1 {
          font-size: 50px;
        }
        h3 {
          font-size: 35px;
        }
        h6 {
          font-size: 24px;
        }
        .line {
          width: 410px;
        }
        @include ipad-pro {
          text-align: center;
          .line {
            margin: 0 auto;
          }
          h6,
          h3,
          h1 {
            margin-top: 20px;
          }

          @include tablet {
            h6 {
              font-size: 18px;
            }
            h3 {
              font-size: 24px;
            }
            h1 {
              font-size: 24px;
            }
            .line {
              width: 100%;
            }
          }
        }
      }

      .form {
        form {
          justify-content: center;
          .main-form {
            max-width: 100%;
            .heading {
              h4 {
                font-size: 35px;

                @include tablet {
                  font-size: 24px;
                }
              }
            }

            @include ipad-pro {
              margin-top: 30px;

              @include mobile {
                padding: 20px 30px;
              }
            }
          }
        }
      }
      .sec-padding {
        @include mobile {
          padding: 30px 0px;
        }
      }
    }
  }
}
