@import "../../global.scss";

.section {
  height: 100vh;
  width: 100%;
  background: linear-gradient(90deg, #000525 16.81%, #24b3d6 119.48%);
  opacity: 0.9;
  background-image: url("../../assets/images/services-img/service-banner.png");
  background-repeat: no-repeat;
  background-size: cover;

  .banner-container {
    .title-home {
      h1 {
        font-family: $font-primary;
        font-style: normal;
        font-weight: 400;
        font-size: 70px;
        line-height: 100%;
        letter-spacing: 0.02em;
        color: #24b3d6;
      }
      h3 {
        font-family: $font-secondry;
        font-style: normal;
        font-weight: 700;
        font-size: 40px;
        line-height: 120%;
        /* or 48px */

        letter-spacing: 0.02em;

        color: #ffffff;
      }
      .line {
        text-align: start;
        width: 500px;
        width: 500px;
        color: #24b3d6;
        border: 0;
        border-top: 3px solid #24b3d6;
        opacity: 1;
      }
      h6 {
        font-family: $font-secondry;
        font-style: normal;
        font-weight: 600;
        font-size: 30px;
        line-height: 120%;
        /* or 36px */

        letter-spacing: 0.02em;

        color: #ffffff;
      }
    }
    .form {
      .main-form {
        background: black;
        opacity: 0.6;
        padding: 40px;
        max-width: 75%;

        .button {
          text-align: center;
          margin: 20px 0px 0px;
        }

        .heading {
          h4 {
            font-weight: 700;
            font-size: 40px;
            font-family: $font-secondry;
            line-height: 120%;
            text-align: center;
            letter-spacing: 0.02em;

            color: $primary-color;
          }
        }
        .fields {
          .css-xqr4nw-MuiInputBase-root-MuiInput-root:after {
            border-bottom: 2px solid white;
          }
          .css-xqr4nw-MuiInputBase-root-MuiInput-root::before {
            border-bottom: 2px solid white;
          }
          .css-18nu0jg-MuiFormLabel-root-MuiInputLabel-root {
            color: white;
          }
          .css-1r74e2h-MuiFormLabel-root-MuiInputLabel-root.Mui-focused {
            color: white;
          }
        }
      }
    }
  }
}
