$banner-background-color: linear-gradient(90deg, #000525 -2.67%, #24b3d6 100%);
$primary-color: #24b3d6;
$secondry-color: #000525;
$btn-background: #0c5791;
$font-primary: "Bebas-Regular";
$font-secondry: "Raleway-Black";

$pc-pro-max: 1440px;
@mixin pc-pro-max {
  @media (max-width: #{$pc-pro-max}) {
    @content;
  }
}

$pc-pro: 1440px;
@mixin pc-pro {
  @media (max-width: #{$pc-pro}) {
    @content;
  }
}

$pc: 1440px;
@mixin pc {
  @media (max-width: #{$pc}) {
    @content;
  }
}

$laptop: 1200px;
@mixin laptop {
  @media (max-width: #{$laptop}) {
    @content;
  }
}

$ipad-pro-max: 1024px;
@mixin ipad-pro-max {
  @media (max-width: #{$ipad-pro-max}) {
    @content;
  }
}

$ipad-pro: 991px;
@mixin ipad-pro {
  @media (max-width: #{$ipad-pro}) {
    @content;
  }
}

$ipad: 768px;
@mixin mobile {
  @media (max-width: #{$ipad}) {
    @content;
  }
}
$mobile: 425px;
@mixin mini-mobile {
  @media (max-width: #{$mobile}) {
    @content;
  }
}
$mini-mobile: 360px;
@mixin mini-mobile-max {
  @media (max-width: #{$mini-mobile}) {
    @content;
  }
}
$mini-mobile-pro: 320px;
@mixin mini-mobile-max {
  @media (max-width: #{$mini-mobile-pro}) {
    @content;
  }
}
