$banner-background-color: linear-gradient(90deg, #000525 -2.67%, #24b3d6 100%);
$primary-color: #24b3d6;
$secondry-color: #000525;
$btn-background: #0c5791;
$font-primary: "Bebas-Regular";
$font-secondry: "Raleway-Regular";

.custom-btn {
  width: 183px;
  outline: none;
  border: none;
  height: 55px;
  border-radius: 4px;
  background: #24b3d6;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
  transition: all 0.5s;
  &:hover {
    background-color: #0c5791;
  }
}
.btn-outline-primary {
  border-color: #24b3d6 !important;
  color: #24b3d6 !important;
  &:hover {
    color: #fff !important;
    background-color: #24b3d6 !important;
    border-color: #24b3d6 !important;
  }
}
$pc-pro-max: 1600px;
@mixin pc-pro-max {
  @media (min-width: #{$pc-pro-max}) {
    @content;
  }
}

$pc-pro: 1440px;
@mixin pc-pro {
  @media (min-width: #{$pc-pro}) {
    @content;
  }
}

$pc: 1441px;
@mixin pc {
  @media (max-width: #{$pc}) {
    @content;
  }
}

$laptop: 1200px;
@mixin laptop {
  @media (max-width: #{$laptop}) {
    @content;
  }
}

$ipad-pro-max: 1024px;
@mixin ipad-pro-max {
  @media (max-width: #{$ipad-pro-max}) {
    @content;
  }
}

$ipad-pro: 991px;
@mixin ipad-pro {
  @media (max-width: #{$ipad-pro}) {
    @content;
  }
}

$tablet: 768px;
@mixin tablet {
  @media (max-width: #{$tablet}) {
    @content;
  }
}
$mobile: 425px;
@mixin mobile {
  @media (max-width: #{$mobile}) {
    @content;
  }
}
$mini-mobile: 360px;
@mixin mini-mobile {
  @media (max-width: #{$mini-mobile}) {
    @content;
  }
}
$mini-mobile-pro: 320px;
@mixin mini-mobile-pro {
  @media (max-width: #{$mini-mobile-pro}) {
    @content;
  }
}
