@font-face {
  font-family: "Bebas-Regular";
  src: local("Bebas-regular"),
    url("./assets/font/Bebas-Regular.otf") format("truetype");
  font-weight: bold;
}
@font-face {
  font-family: "Raleway-Regular";
  src: local("Raleway-Regular"),
    url("./assets/font/Raleway-Regular.ttf") format("truetype");
}

.app {
  height: 100vh;
  overflow: hidden;
}
.sec-padding {
  padding: 80px 0px;
}
