@font-face {
  font-family: "Bebas-Regular";
  src: local("Bebas-regular"),
    url("./assets/font/Bebas-Regular.otf") format("truetype");
  font-weight: bold;
}
@font-face {
  font-family: "Raleway-black";
  src: local("Raleway-black"),
    url("./assets/font/Raleway-Black.ttf") format("truetype");
}
