@import "../../global.scss";
.home-section {
  width: 100%;
  background: #0f639a;
  background-image: url("../../assets/images/banner/career-banner.png");
  background-repeat: no-repeat;
  background-size: cover;
  .banner-container {
    width: 90%;
    margin: 0 auto;
  }

  .container {
    .heading {
      text-align: center;
      h4 {
        color: white;
      }
    }
    .title-home {
      text-align: center;
      max-width: 75%;
      h1 {
        font-size: 7vw;
        font-weight: bold;
        color: white;
        font-family: $font-primary;
      }
      .para {
        color: white;
        font-weight: 700;
        /* font-family: "Bebas-Regular"; */
        font-size: 40px;
        line-height: 60px;
        text-align: justify;
      }
      .line {
        text-align: start;
        width: 500px;
        width: 500px;
        color: #24b3d6;
        border: 0;
        border-top: 3px solid #24b3d6;
        opacity: 1;
        @include tablet {
          width: 100% !important ;
        }
      }
    }
  }
}

#career {
  .icon-section {
    .title-home {
      width: 50%;
      margin: auto;
      text-align: center;
      .line {
        width: 20%;
        margin: 0 auto;
      }
    }
    .box-img {
      text-align: center;
      display: block;
      img {
        width: 100%;
        padding: 5px;
      }
    }

    .parallax-title {
      width: 50%;
      text-align: center;
      font-weight: 700;
      line-height: 40px;
      margin: auto;
      text-transform: uppercase;
    }
    .btn {
      .view-btn {
        font-size: 20px !important;
      }
    }
  }
  .form-section {
    .title-header {
      margin: auto;
      text-align: center;
      .line {
        width: 15%;
      }
    }
    .search-jobs span {
      margin-right: 30px;
      a {
        text-decoration: none;
        color: black;
        &:hover {
          color: #0f639a;
        }
      }
    }

    .input-field {
      .css-1gyr8kh {
        flex-basis: 90%;
      }
      .search-btn {
        flex-basis: 10%;
        .btn {
          padding: 15px;
          margin: 0px 20px;
          width: 100%;
        }
      }
    }
  }
  .job-list {
    .main-job-list {
      .table-header {
        border-bottom: 6px solid $primary-color;
        .jobs-heading {
          background-color: $primary-color;
          margin-bottom: -1px;
          padding-bottom: 0px;
          flex-basis: 17%;
          display: flex;
          border-top-left-radius: 8px;
          border-top-right-radius: 8px;
          align-items: center;
          justify-content: center;

          h3 {
            color: #ffffff;
          }
        }
        .order {
          h4 {
            cursor: pointer;
          }
        }
      }
      .jobs {
        .main-row {
          padding: 40px 0px;

          .job-title-upper {
            .job-title {
              text-decoration: none;
              color: black;
              &:hover {
                color: $primary-color;
                cursor: pointer;
              }
            }
          }
        }
      }
    }
  }
}
