@import "../../../global.scss";
#banner {
  background: linear-gradient(90deg, #000525 16.81%, #24b3d6 119.48%);
  opacity: 0.9;
}

#why-choose {
  background-color: #000525;

  .main {
    .heading {
      h1 {
        font-style: normal;
        font-weight: 700;
        font-size: 40px;
        line-height: 1.5;
        text-align: left;
        letter-spacing: 0.02em;
        color: white !important;
        padding: 20px 0px 0px;
      }
      .underline {
        border-bottom: 4px solid #24b3d6;
        display: flex;
        width: 25%;
        text-align: center;
      }
    }

    .para {
      p:first-child {
        margin: 50px 0px;
      }
      p {
        font-size: 20px;
        line-height: 2;
        text-align: justify;
        color: white;
        font-family: $font-secondry;
      }
    }
  }
  // ============================responsive=====================

  @include laptop {
    .main {
      .heading {
        h1 {
          font-size: 35px;
          @include tablet {
            font-size: 24px;
          }
        }
      }
      .para {
        p {
          font-size: 16px;
          @include mobile {
            font-size: 14px;
          }
        }
      }
    }
  }
}

// ============================responsive=====================

@include laptop {
  .main-about {
    .heading {
      h1 {
        font-size: 35px;
        @include tablet {
          font-size: 24px;
        }
      }
    }
  }
}
